<header ng-include="'/views/partials/nav.html'"></header>

<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class = "panel-title">Archive</h2>
      </div>
      <div  class="panel-body fixed-panel" ng-init = "archive.getArchive()">
        <div ng-repeat = "book in archive.archive.array">
          <div class="well well-md-4">
            
          </div>
        </div>
      </div>
      <div class = "panel-footer"></div>
  </div>
</div>
