<div class="container">

    <header ng-include="'/views/partials/nav.html'"></header>

    <h1 id="welcome" class="lead">Welcome to The Club, {{dashboard.userObject.first}}!</h1>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class = "panel-title">Chapter Chatter</h3>
      </div>
      <div class="panel-body" ng-init = "dashboard.getMessages()">
        Panel Content - Message History Goes Here
        <div ng-repeat = "message in dashboard.allMessages.array">
          <p>{{message.date}}</p>
          <p><b>{{message.first}}: </b>{{message.Message}}</p>
        </div>
      </div>
      <div class="panel-footer">
        <form ng-submit="dashboard.postMessage()">
          <div>
              <!-- <label for="message">Message</label> -->
              <input type="text" ng-model="dashboard.message.text" placeholder = "Enter your message"/>
          </div>
          <input class="btn btn-primary" type="submit" name="submit" value="Post Message" />
          <!-- <a href="#home">Cancel</a> -->
        </form>
      </div>
    </div>
</div>
