<header ng-include="'/views/partials/nav.html'"></header>

<div class="container">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class = "panel-title">Chapter Chatter</h2>
      </div>
      <div class="panel-body fixed-panel" ng-init = "dashboard.getMessages()">
        <div ng-repeat = "message in dashboard.allMessages.array">
          <div class="media">
            <div class="media-left">
              <img ng-if = "message.image"
                  class = "media-object messagePic img-rounded"
                  ng-src="{{message.image}}" alt="profile picture">
              <img ng-if = "!message.image"
                  class = "media-object messagePic img-rounded"
                  ng-src="https://api.adorable.io/avatars/285/abott@adorable.pngCopy"
                  alt="profile avatar">
            </div>
            <div class="media-body">
              <h4 class = "media-heading"><b>{{message.first}}</b>
                <span class = "messageDate">{{message.TimeStamp | date: 'MMM d, y h:mma'}}</span></h4>
              <p ng-bind-html="message.Message | linky">{{message.Message}}</p>
            </div>
          </div>

        </div>
      </div>
      <div class="panel-footer">
        <form ng-submit="dashboard.postMessage()">
          <div class = "form-group">
              <input class = "form-control" type="text"
                      ng-model="dashboard.message.text"
                      placeholder = "Enter your message"/>
          </div>
          <input class="btn btn-primary" type="submit"
                  name="submit" value="Post Message" />
          <!-- <a href="#home">Cancel</a> -->
        </form>
      </div>
    </div>
</div>
