<div class="container">
  <h1 class="lead">Create a New User Account</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="login.message != ''">
      {{login.message}}</h2>
  <form ng-submit="login.registerUser()">
    <div>
        <label for="firstname">First Name:</label>
        <input type="text" ng-model="login.user.first" />
    </div>
    <div>
        <label for="lastname">Last Name:</label>
        <input type="text" ng-model="login.user.last" />
    </div>
    <div>
        <label for="username">Email:</label>
        <input type="text" ng-model="login.user.username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" ng-model="login.user.password" />
    </div>
    <input class="btn btn-primary" type="submit" name="submit" value="Register" />
    <a href="#home">Cancel</a>
  </form>

</div>
