.instructions .container h1 {
    font-size: 36px;
    font-weight: 700;
}

.instructions {
    background-color: #010101;
    color: #DDDDDD;
}


.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar > ul > li{
  width: 150px;
  display:inline-block;
}

.navlist {
  float: right;
  font-size: 20px;
}

.fixed-panel {
  min-height: 500px;
  max-height: 500px;
  overflow-y: scroll;
}

.messagePic {
  width: 60px;
  height: 50px;
}

.messageDate {
  font-size: 15px;
  color: gray;
  padding: 5px;
}

.panel-title {
  text-align: center;
  font-size: 30px;
}

/*body {
  background-image: url('/styles/books-1655783_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/



/*.entry {
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40%;
  height: 40%;
  border-top-left-radius: white;
}*/

#spotTitle {
  text-align: center;
}
