<div class="instructions">
    <div class="container">

      <div class="navbar" ng-controller = "NavController as nav">
        <h1>Welcome to The Club, {{nav.userObject.first}}</h1>
        <ul class = "navlist">
          <li><a href = "#/dashboard">Dashboard</a></li>
          <li><a href = "#/search">Search</a></li>
          <li><a href = "#/spotlight">Spotlight</a></li>
          <li><a href = "#/archive">Archive</a></li>
          <li><a href = "#/nightstand">Night Stand</a></li>
          <li><button class="btn btn-danger" ng-click="nav.logout()">Log Out</button></li>
          <li><img class = "img-circle img-responsive" ng-src = "{{nav.userObject.image}}"
                  alt ="user profile picture"></li>
        </ul>
      </div>

    </div>
</div>
