<header ng-include="'/views/partials/nav.html'"></header>

<div class="container">

    <h1 id="welcome" class="lead">Welcome to The Club,
            {{dashboard.userObject.first}}!</h1>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class = "panel-title">Chapter Chatter</h2>
      </div>
      <div class="panel-body fixed-panel" ng-init = "dashboard.getMessages()">
        <div ng-repeat = "message in dashboard.allMessages.array">
            <p>{{message.date | date}}</p>
            <p><b>{{message.first}}: </b></p>
            <p ng-bind-html="message.Message | linky">{{message.Message}}</p>
        </div>
      </div>
      <div class="panel-footer">
        <form ng-submit="dashboard.postMessage()">
          <div>
              <input type="text" ng-model="dashboard.message.text"
                      placeholder = "Enter your message"/>
              <!-- <div ng-bind-html = "dashboard.message.text | linky"> -->
          </div>
          <input class="btn btn-primary" type="submit"
                  name="submit" value="Post Message" />
          <!-- <a href="#home">Cancel</a> -->
        </form>
      </div>
    </div>
</div>
