<header ng-include="'/views/partials/header.html'"></header>

<div class="container">
  <div class="login">
    <h3>Enter The Club</h3>
      <h3 class="alert alert-danger" role="alert" ng-if="login.message != ''">{{login.message}}</h3>
      <form ng-submit="login.login()">
        <div>
            <label for="username">Email:</label>
            <input type="text" ng-model="login.user.username" placeholder="Email"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" ng-model="login.user.password" placeholder="Password"/>
        <div>
            <input class="btn btn-primary" type="submit" name="submit" value="Log In" />
            <br>
            <a href="#register">Not a member? Join The Club.</a>
        </div>
      </form>
    </div>
</div>
