<div class="container">

  <header ng-include="'/views/partials/nav.html'"></header>
  <p>Search Open Libary Books API</p>

  <form>
    <input type="text" name="book" placeholder="Enter a book title"
              ng-model = "book">
    <button type="button" name="search" class = "btn btn-primary"
              ng-click = "search.findBook(book)">Search</button>
  </form>

  <p>Filter by author or date<input type = "text" ng-model = "test"></p>
  <p>Results<span class = "badge">{{search.bookResults.array.length}}</span></p>

  <div ng-repeat = "book in search.bookResults.array | filter : test">
    <div class="well col-md-3">
      <img ng-src="http://covers.openlibrary.org/b/isbn/{{book.isbn[0]}}-M.jpg"
            alt="{{book.title}} Book Cover">
      <p>{{book.title}}</p>
      <p>by {{book.author_name[0]}}</p>
      <p>Published In: {{book.first_publish_year}}</p>
      <button class = "btn btn-warning" ng-click = "search.addToSpotlight(book)">
            Add to Spotlight</button>

  </div>
</div>
