<div class="instructions">
    <div class="container">
        <h1 class="lead">The Club</h1>

        <div class="navbar" ng-controller = "NavController as nav">
          <ul>
            <li><a href = "#/dashboard">Dashboard</a></li>
            <li><a href = "#/search">Search</a></li>
            <li><a href = "#/spotlight">Spotlight</a></li>
            <li><a href = "#/archive">Archive</a></li>
            <li><a href = "#/nightstand">Night Stand</a></li>
            <li><button class="btn btn-danger" ng-click="nav.logout()">Log Out</button></li>
          </ul>
        </div>
    </div>
</div>
